@model GerenciamentoEventosHoteis.Models.Auditoria

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Auditoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acao" class="control-label"></label>
                <input asp-for="Acao" class="form-control" />
                <span asp-validation-for="Acao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entidade" class="control-label"></label>
                <input asp-for="Entidade" class="form-control" />
                <span asp-validation-for="Entidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntidadeId" class="control-label"></label>
                <input asp-for="EntidadeId" class="form-control" />
                <span asp-validation-for="EntidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DadosAnteriores" class="control-label"></label>
                <input asp-for="DadosAnteriores" class="form-control" />
                <span asp-validation-for="DadosAnteriores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DadosNovos" class="control-label"></label>
                <input asp-for="DadosNovos" class="form-control" />
                <span asp-validation-for="DadosNovos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
